*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
  }
body{
  background-color: #f3f3f3;
  align-items: center;
  justify-content: center;
}
  header{
  height: 100px;
  background-color: #e2e5e5;
}
.container__header{
  max-width: 1200px;
  height: 100%;
  margin: auto;
  padding: 40px;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.logo img{
  width: 220px;
}
.menu nav ul{
  display: flex;

}
.menu nav ul li{
  list-style: none;
  padding: 0px 20px;
}
.menu nav ul li a{
font-size: 16px;
text-decoration: none;
color: #2e3237;
transition: opacity 300ms;
}
.menu nav ul li a:hover{
  opacity: 0.6;
}
.btn__header-contacto{
  padding: 14px 50px;
  border: none;
  background-color: #2e3237;
   color: azure;
    font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: background, color, 300ms;
}
.btn__header-contacto:hover{
  background-color: rgb(183, 183, 183) ;
  color: black;

}
#icon_menu{
  display: none;
}

main{
      max-width: 1200px;
      height: calc(100vh + 800px);
      padding: 40px;
      margin: auto;
  }

.cover{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.text__information-cover{
  width: 50%;
}
.text__information-cover h1{
  font-size: 50px;
}
.text__information-cover p{
  font-size: 18px;
  margin-top: 40px;
}
.image__cover{
  width: 50%;
}
.image__cover img{
  width: 100%;
  margin-top: -40px;
}
.buttons__cover{
  display: flex;
  margin-top: 40px;
}
.btn__productos-cover{
  padding: 14px 40px;
  border: none;
  color: #dadada;
  background-color: #2e3237;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
  transition: background 300ms;
}
.btn__productos-cover:hover{
background-color: rgb(183, 183, 183) ;
color: rgb(16, 16, 16);
}

.btn__ayuda-cover{
  padding: 14px 40px;
  border: none;
  color: #dadada;
  background-color: #2e3237;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
  transition: background 300ms;
}
.btn__ayuda-cover:hover{
  background-color: rgb(183, 183, 183) ;
color: rgb(16, 16, 16);
}


/*PARTE RESPONSIVE*/
@media (max-width: 1024px){

  .container__header,
  main{
      padding: 20px;
  }

  #icon_menu{
      display: block;
      cursor: pointer;
      font-size: 24px;
  }

  .header__contacto{
      display: none;
  }

  .menu{
      height: 0px;
      position: absolute;
      right: 20px;
      top: 70px;
      overflow: hidden;
      z-index: 10;
      box-shadow: 0px 0px 30px -20px rgba(0,0,0,0.5);
      transition: all 300ms;
  }

  .menu nav ul{
      padding: 20px 0px;
      flex-direction: column;
      background: #fff;
  }

  .menu nav ul li{
      padding: 10px 40px;
  }
  .mostrar_menu{ 
      height: 235px;
  }

  .text__information-cover h1{
      font-size: 40px;
  }

  .text__information-cover p{
      font-size: 16px;
  }
  

}

@media (max-width: 920px){
  .text__information-cover{
      width: 100%;
  }

  .image__cover{
      display: none;
  }

}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 90%;
  max-width: 1100px;
  height: 100%;
  margin: auto;
  gap: 10px;
  overflow: hidden;
  align-items: center;
}
.services {
  height: 370px;
  background: linear-gradient(180deg, #f4f8f8 50%, #3b4754 50%);
}
.titulo-services {
  margin: 20px 0;
  transition: all 300ms;
}

.titulo-services:hover {
  transform: scale(1.25);
}
.items {
  grid-column: 1/-1;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.item {
  background: #ebebeb;
  width: 30%;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  height: 230px;
  padding: 20px 10px;
  text-align: center;
  border-radius: 20px;
  font-size: 13px;
  
}



[class^="fa fa"] {
  font-size: 30px;
  text-align: center;
}

:root {
  --primary: rgb(9, 9, 71);
}

@media (max-width:600px) and (min-width:300px) {
  .item{
     font-size: 10px;
  }
}

.pie-pagina{
  width: 100%;
  background-color: #dadada;
}
.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:50px ;
  padding: 45px 0px;

}
.pie-pagina .grupo-1 .box figure{
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
  
}
.pie-pagina .grupo-1 .box figure img{
width: 250px;
    
  }
.pie-pagina .grupo-1 .box h2{
    margin-bottom: 25px;
    font-size: 20px;
  
  }
.pie-pagina .grupo-1 .box p{
    margin-top: 10px;
    color: #3b4754;
  }
  .pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #a3a3a3;
    text-align: center;
    transition: all 300ms ease;
  }
  .pie-pagina .grupo-1 .red-social a:hover{
    color: aquamarine;

  }
  .pie-pagina .grupo-2{
    background:#0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #f4f8f8;
  }


  form{
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 600px;

  }
  .input__group{
    display: flex;
    flex-direction:column;
    text-align: left;
  }
  h2{
    color: #2e3237;
    font-size: 35px;
  }
  label{
    color: #3b4754;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  input, textarea{
    padding: 17px 35px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #dadada;
    border: 2px solid  #dadada;
    color: #3b4754;
    outline: none;
  }

  input::placeholder, textarea::placeholder {
    color: rgba(0, 0, 0, 0.471);
  }
  .form-text{
margin-bottom: 30px;
display: flex;
justify-content: space-between;
text-align: center;
  }
  .form-text a {
    color: #0f579f;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
  }

  .btn__enviar{
    font-size: 16px;
    color: #f4f8f8; 
    border: 0;
    border-radius: 25px;
    background-color: #537ba2;
    box-shadow: 0 0 20px rgba(85, 83, 232, 0);
    cursor: pointer;
  }
  .btn__enviar:hover{
    background-color: #9dbddd;
  }
  .formulario__main{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    padding: 40px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }