.item {
    background: #ebebeb;
    width: 30%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    height: 250px;
    padding: 20px 10px;
    text-align: center;
    border-radius: 20px;
    
}


[class^="fa fa"] {
    font-size: 30px;
    text-align: center;
}