


 
  
 
  
  
 
  
    /* No se pudo hacer responsive
    .carrucel__images{
  display: flex;
  width: 1120px;
  height: 430px;
    }
    .carrucel__images img{
      width: 0px;
      flex-grow: 1;
      object-fit: cover;
      opacity: .8;
      transition: .5s ease;
    }
    .carrucel__images img:hover{
      cursor: pointer;
      width: 300px;
      opacity: 1;
      filter: contrast(120%);
  
  
  
    }
    */
  
